<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rakshitsharma.edutiate">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <meta-data
        android:name="android.support.VERSION"
        android:value="26.0.0"
        tools:replace="android:value" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true">
        <activity
            android:name=".startScreen.startActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme1"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".Settings.profile.about_me"
            android:label="My Profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Settings.about_the_team"
            android:label="About Us"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Authentication.login"
            android:theme="@style/logintheme" />
        <activity
            android:name=".Authentication.signUp"
            android:theme="@style/logintheme" />
        <activity
            android:name=".Authentication.forgot_password"
            android:theme="@style/logintheme" />
        <activity
            android:name=".Authentication.verification"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".Settings.website"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".GetAllData.loadingData1"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Home.my_batches.batches_cards.teacher_of_batch.NsubjectDocumentsActivity"
            android:label="@string/title_activity_nsubject_documents"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".GetAllData.loadingData2"
            android:theme="@style/AppTheme" />
        <activity android:name=".noInternetConnection" />
        <activity
            android:name=".checker"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".Teacher.teacher_login"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".Teacher.teacher_main"
            android:label="EduDocs"
            android:theme="@style/AppTheme1"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".Teacher.teacher_loadingData1"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Teacher.teacherView_Details_of_Batch"
            android:label="@string/title_activity_teacher_view__details_of__batch"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Teacher.about_teacher_me"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Teacher.teacherView_Details_of_Batch_noAttendance"
            android:label="@string/title_activity_teacher_view__details_of__batch_no_attendance"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".Teacher.teacher_loadingData2"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".BottomSheet"
            android:theme="@style/AppTheme1" />

        <service
            android:name=".noti"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>